/* custom styles */
h1 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
    color: #1a0dab;
}

div {
	margin-left:10px;
}

table {
	border-collapse: collapse;
	border: none;
}

i {
	color: grey;
	padding-bottom: 50px;
}

td {
	border-width: 1px;
	padding: 8px;
	border: none;
}

.btn-primary {
	margin-left: px;
	margin-right: 5px;
}

.resizedTextbox {
	width: 150px;
	height: 30px;
	padding: : 10px;
}

.selectpicker {
	width: 50%;
}